<!DOCTYPE html>
<html ng-app="hashTable">
<head>
  <title>Hash Table Visualizer</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="hashControl as hash">
  <div class="jumbotron">   
    <h1>Hash Table Visualizer</h1>
  </div>
  <div class="container-fluid">
    <div class="row">

      <!-- start size + limit info -->
      <div class="col-xs-4">   
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Hash Table Properties
            </h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">{{ht._limit}}</span>
              Limit
            </li>
            <li class="list-group-item">
              <span class="badge">{{ht._size}}</span>
              Size
            </li>
          </ul>
        </div> 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Insertion and Retrieval
            </h3>
          </div>     
          <div class="input-group">
            <span class="input-group-addon">Key&nbsp;&nbsp;</span>
            <input type="text" class="form-control" ng-model="newKey">
          </div>      
          <div class="input-group">
            <span class="input-group-addon">Value</span>
            <input type="text" class="form-control" ng-model="newValue">
          </div>   
          <button id="Insert" name="Insert" class="btn btn-primary" ng-click="ht.insert(newKey,newValue)">Insert</button>

            Hash: {{getIndexBelowMaxForKey(newKey, ht._limit)}}
        </div>
      </div>
      <!-- end size + limit info -->
      <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Hash Table Storage Array
            </h3>
          </div>
          <ul class="list-group">      
          <li class="list-group-item" ng-repeat="tuples in ht._storage.storage track by $index">
          <span>Index: {{$index}}</span>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm" ng-repeat="tuple in tuples track by $index" >
              <button type="button" class="btn btn-default btn-sm" ng-repeat="pair in tuple track by $index">{{pair}}</button>
            </div>
          </div>
          </li>   
          </ul>
        </div>
      </div>
<!-- call ht.insert -->
    </div> 
  {{ht}}
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  </div>
</div>
  </div>
</body>
</html>